* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  font-family: "plus jakarta sans";
}
.container header {
  width: 100%;
  height: 76px;
  border: 0px 0px 1px 0px;
  box-shadow: 0px 1px #0b090921;
  display: flex;
  justify-content: space-between;
  position: relative;
  opacity: 1;
}
.content {
  display: flex;
  justify-content: center;
  gap: 68px;
}
.content.right {
  gap: 22px;
}
/* start button */
button.btn {
  width: 114px;
  border: 1px solid #ff8906;
  border-radius: 6px;
  padding: 10px;
  background-color: #ff8906;
  color: #0b132a;
  text-weight: 500;
  cursor: pointer;
}
/* end button */

button.signIn {
  border: 1px solid white;
  padding: 12px 18px;
  border-radius: 5px;
  background-color: transparent;
  color: white;
}

.control-flex {
  width: 730px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.control-flex .content h1 {
  text-weight: 500;
  font-size: 14px;
  color: white;
  padding: 10px;
}
.control-flex .content h1:hover {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #ff8906;
  cursor: pointer;
}

/* start main content */
main {
  width: 100%;
  display: flex;
}

main section {
  width: 50%;
  margin-top: -80px;
}
main section.gradient {
  height: 1024px;
  background-image: linear-gradient(#777c82, #0b0909);
  display: flex;
  justify-content: center;
  align-items: center;
}
main section.image {
  height: 1024px;
  background-image: url("../public/image/bg-3.png");
  background-repeat: no-repeat;
}
/* end main content */

.action {
  width: 518px;
}
.action h2 {
  text-weight: 500;
  font-size: 48px;
  line-height: 60.48px;
  color: #ffff;
  margin-bottom: 25px;
}
.action p {
  text-weight: 400;
  font-size: 16px;
  line-height: 20.16px;
  color: #fff;
  margin-bottom: 25px;
}

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 25px;
  color: white;
  padding-left: 20px;
}
.grid h1 {
  color: #ff8906;
  font-size: 48px;
  text-weight: 500;
}
.line {
  border-width: 0px 1px 0px 1px;
  border-style: solid;
  border-color: white;
  padding-left: 50px;
  padding-right: 50px;
}

.chats {
  background-color: #ff8906;
  border: 1px solid #ff8906;
  border-radius: 100%;
  position: relative;
  top: 850px;
  left: 500px;
  color: red;
  padding: 17px;
  cursor: pointer;
}
/* start content two */
.main-two {
  width: 100%;
  margin-top: 80px;
}

.main-two section {
  display: flex;
}
.action-left {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding-top: 54px;
}
.action-left .action {
  width: 529px;
}

.action-left .action h1 {
  text-weight: 500;
  font-size: 48px;
  color: #0b132a;
  padding-bottom: 25px;
}
span {
  color: #8e6447;
}
.action-left .action p {
  text-weight: 400px;
  font-size: 16px;
  color: #4f5665;
  padding-bottom: 25px;
}
.action .cklist {
  display: flex;
  gap: 10px;
}
/* end content two  */
/* start content three */
.main-three {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 81px;
}
.three {
  width: 1180px;
  text-align: center;
}
.three h1 {
  text-weight: 500;
  font-size: 48px;
  line-height: 60.48px;
  color: #0b132a;
  padding-bottom: 25px;
}
.border {
  margin: auto;
  width: 68px;
  height: 7px;
  background-color: #ff8906;
  margin-bottom: 25px;
}
.three p {
  font-size: 16px;
  text-weight: 400;
  line-height: 20.16px;
}
/* end content three */
/* start content four */
.main-four {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 135px;
}
.main-four section {
  width: 280px;
  position: relative;
}
.desc {
  position: relative;
  width: 262px;
  margin-left: 9px;
  margin-top: -50px;
  background-color: rgb(255, 255, 255);
  padding: 11px 10px 25px 11px;
  box-shadow: 1px 5px 1px 1px rgba(255, 255, 255, 0.5);
  border: 1px solid white;
}
.desc h3 {
  font-size: 22px;
  text-weight: 500;
  line-height: 27.72px;
  color: #0b132a;
  padding-bottom: 12px;
}
.desc p {
  text-weight: 400;
  font-size: 14px;
  color: #4f5665;
  line-height: 17.64px;
  color: #4f5665;
  padding-bottom: 12px;
}
.desc h2 {
  text-weight: 500;
  font-size: 22px;
  color: #ff8906;
  padding-bottom: 12px;
}
.buy {
  display: flex;
  gap: 10px;
  box-shadow: 0px 2px white;
}
.buy button.buy-one {
  width: 177px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ff8906;
  background-color: #ff8906;
}
.buy button.market {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ff8906;
  background-color: #fff;
}
/* end content four */

/* start content map */
.map {
  display: grid;
  justify-content: center;
  width: 100%;
  background-color: rgba(232, 232, 232, 0.3);
  margin-top: 84px;
}
.spot {
  width: 1180px;
}
.spot img {
  margin-top: 60px;
}
/* end content map */

/* start profile */
.profile {
  width: 100%;
  display: flex;
  background-image: linear-gradient(#777c82, #0b0909);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.profile img {
  margin-left: 32px;
  margin-top: 73px;
}
.profile section {
  padding-left: 20px;
}
.profile h3 {
  padding-top: 80px;
  text-weight: 400;
  font-size: 16px;
  line-height: 20.16px;
  color: white;
  padding-bottom: 25px;
}
.name-profile {
  width: 468px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.border-vertikal {
  width: 7px;
  height: 68px;
  background-color: #ff8906;
  display: flex;
}
.name-profile h1 {
  text-weight: 500;
  font-size: 48px;
  line-height: 60.48px;
  color: white;
  padding-left: 20px;
}
.profile h4 {
  text-weight: 400;
  font-size: 16px;
  line-height: 20.16px;
  color: #ff8906;
  padding-bottom: 25px;
}
.profile p {
  font-size: 16px;
  text-weight: 400;
  line-height: 20.16px;
  color: white;
  padding-bottom: 25px;
}
.rating {
  display: flex;
  gap: 25px;
}
.rating img {
  margin-top: -20px;
  margin-left: 5px;
}
.arrow {
  display: flex;
  gap: 9px;
}
.arrow .arrow-left {
  border: 1px solid white;
  width: 47px;
  height: 47px;
  border-radius: 100%;
  cursor: pointer;
}
.arrow .arrow-right {
  border: 1px solid #ff8906;
  width: 47px;
  height: 47px;
  border-radius: 100%;
  background-color: #ff8906;
  cursor: pointer;
}
.arrow img {
  margin: 10px;
}
.btn {
  display: flex;
  gap: 9px;
  padding-top: 25px;
  width: 76px;
}
.Rectangle {
  width: 25.33px;
  height: 8.44px;
  background-color: #ff8906;
  border-radius: 20%;
  border: 1px solid #ff8906;
}
.circle {
  width: 8.44px;
  height: 8.44px;
  background-color: white;
  border: 1px solid white;
  border-radius: 100%;
}
/* end profile */

/* start footer */
.footer {
  width: 100%;
  background-color: #f8f8f8;
  margin-top: 70px;
}

/* end footer */
