* {
  margin: 0px;
  padding: 0px;
}

main {
  width: 1440px;
  height: 1024px;
  display: flex;
  font-family: "plus jakarta sans";
}

.content {
  width: 780px;
  height: 821px;
  margin-left: 70px;
  margin-top: 60px;
}

h3 {
  margin-top: 51px;
  margin-bottom: 25px;
  color: #8e6447;
}

.Register {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 25px;
}
.form-control {
  background-color: #fcfdfe;
  display: flex;
  gap: 4px;
  align-items: center;
  margin-bottom: 24px;
  border-radius: 6px;
  border: 1px solid #dedede;
  padding-left: 10px;
  padding-right: 10px;
}
.form-control:focus-within {
  border: 1px solid #dedede;
}

.input-control {
  padding: 16px;
  width: 100%;
  border: none;
  border-radius: 6px;
  background: inherit;
}
.input-control:focus {
  border: none;
  outline: none;
}
.Register label {
  font-weight: 600;
  margin-bottom: 13px;
  font-size: 16px;
}

.Register button {
  background-color: #ff8906;
  border-radius: 6px;
  height: 50px;
  font-size: 16px;
  color: #0b132a;
  border: 1px solid #ff8906;
  margin-bottom: 25px;
  cursor: pointer;
}

p.login {
  text-align: center;
  color: #4f5665;
}
p.login a {
  color: #ff8906;
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 65px;
}
footer button {
  width: 383px;
  height: 64px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14px;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 3px 0px 0px lightgray;
  border: 1px solid lightgray;
  border-radius: 4px;
  cursor: pointer;
}
footer button img {
  margin: 22px;
}
