* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 1440px;
  font-family: "plus jakarta sans";
  margin: auto;
}
.container header {
  width: 100%;
  height: 76px;
  border: 0px 0px 1px 0px;
  box-shadow: 0px 1px #0b090921;
  background-color: #0b0909;
  display: flex;
  justify-content: space-between;
  position: relative;
  opacity: 1;
}
.content {
  display: flex;
  justify-content: center;
  gap: 68px;
}
.content.right {
  gap: 22px;
}
/* start button */
button.btn {
  width: 114px;
  border: 1px solid #ff8906;
  border-radius: 6px;
  padding: 10px;
  background-color: #ff8906;
  color: #0b132a;
  font-weight: 500;
  cursor: pointer;
}
/* end button */

button.signIn {
  border: 1px solid white;
  padding: 12px 18px;
  border-radius: 5px;
  background-color: transparent;
  color: white;
}

.control-flex {
  width: 730px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.control-flex .content h1 {
  font-weight: 500;
  font-size: 14px;
  color: white;
  padding: 10px;
}
.control-flex .content h1:hover {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #ff8906;
  cursor: pointer;
}

/* start nav  */
.nav {
  width: 100%;
  background-image: url("../Public/image/bg-5.png");
  height: 305px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 130px;
}
.first {
  width: 880px;
  font-size: 30px;
  font-weight: 500;
  line-height: 60.48px;
  color: white;
}
/* end nav */
/* start promo */
.promo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
}
.promo section {
  width: 1183px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promo section h1 {
  font-size: 48px;
  font-weight: 500;
  line-height: 60.48px;
  color: #0b0909;
}
.promo section span {
  font-size: 48px;
  font-weight: 500;
  line-height: 60.48px;
  color: #8e6447;
}

.arrow {
  display: flex;
  gap: 9px;
}
.arrow .arrow-left {
  border: 1px solid white;
  width: 47px;
  height: 47px;
  border-radius: 100%;
  cursor: pointer;
}
.arrow .arrow-right {
  border: 1px solid #ff8906;
  width: 47px;
  height: 47px;
  border-radius: 100%;
  background-color: #ff8906;
  cursor: pointer;
}
.arrow img {
  margin: 10px;
}
/* end promo */
/* start kupon */
.kupon {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 100px;
  margin-top: 25px;
}
.kupon section {
  background-color: #88b788;
  border-radius: 20px;
  padding: 5px;
}
.kupon .yellow {
  background-color: #f5c361;
}

.klaim {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}
.text {
  width: 175px;
  font-size: 14px;
  line-height: 17.64px;
  font-weight: 400;
}
.text span {
  font-weight: 700;
  font-size: 14px;
  color: black;
}
.klaim-kupon {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: white;
  padding-top: 13px;
}
/* end kupon  */
.btn {
  display: flex;
  gap: 9px;
  padding-top: 25px;
  width: 76px;
  margin-left: 127px;
}
.Rectangle {
  width: 25.33px;
  height: 8.44px;
  background-color: #ff8906;
  border-radius: 20%;
  border: 1px solid #ff8906;
}
.circle {
  width: 8.44px;
  height: 8.44px;
  background-color: #dde0e4;
  border: 1px solid white;
  border-radius: 100%;
}

.our-product {
  margin-top: 25px;
  margin-left: 127px;
  font-weight: 500;
  font-size: 48px;
  line-height: 60.48px;
}
.our-product span {
  color: #8e6447;
}
/* start product  */
.product {
  width: 100%;
  display: flex;
  gap: 20px;
  padding-left: 127px;
  justify-content: center;
}
.filter {
  width: 383px;
  display: flex;
  justify-content: center;
  background-color: #0b0909;
  align-items: center;
  border-radius: 16px;
}
.content-one {
  width: 315px;
  padding: 27px 38px 42px 30px;
  color: white;
}
.content-one .one {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: white;
  padding-bottom: 16px;
}
.content-one .two {
  display: grid;
  grid-template-columns: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 22.68px;
}
.content-one .two input {
  width: 100%;
  height: 64px;
  border-radius: 4px;
  margin-top: 10px;
}
.content-one p {
  padding-top: 16px;
  padding-bottom: 16px;
}
/* start checkbox */
.checkbox {
  display: flex;
  gap: 14px;
  margin-bottom: 16px;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
input[type="checkbox"]:after {
  font-family: "font awesome 5 free";
  content: "\f00c";
  font-weight: 900;
  font-size: 15px;
  display: none;
}
input[type="checkbox"]:checked {
  background-color: #ff8906;
}
input[type="checkbox"]:checked:after {
  display: block;
}
/* end checkbox */
/* end product  */

/* start menu product  */
.category {
  width: 100%;
  display: flex;
  gap: 23px;
}
.desc {
  position: relative;
  width: 262px;
  margin-left: 9px;
  margin-top: -50px;
  background-color: rgb(255, 255, 255);
  padding: 11px 10px 25px 11px;
  box-shadow: 1px 5px 1px 1px rgba(255, 255, 255, 0.5);
  border: 1px solid white;
}
.desc h3 {
  font-size: 22px;
  font-weight: 500;
  line-height: 27.72px;
  color: #0b132a;
  padding-bottom: 12px;
}
.desc p {
  font-weight: 400;
  font-size: 14px;
  color: #4f5665;
  line-height: 17.64px;
  color: #4f5665;
  padding-bottom: 12px;
}
.desc h2 {
  font-weight: 500;
  font-size: 22px;
  color: #ff8906;
  padding-bottom: 12px;
}
.buy {
  display: flex;
  gap: 10px;
  box-shadow: 0px 2px white;
}
.buy button.buy-one {
  width: 177px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ff8906;
  background-color: #ff8906;
}
.buy button.market {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ff8906;
  background-color: #fff;
}
/* end menu product  */
